*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 80px;
    background-color: rgb(251, 251, 251);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6b606b;
}
.myntra-house{
    height: 36px;
    width: 53px;
}
.logo_container{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
   
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    padding: 28px;
    border-bottom:5PX solid rgb(251, 251, 251);

}
.nav_bar a:hover{
    border-bottom:5PX solid orangered;
}

.nav_bar a sup{
    color: crimson;
    font-size: 10px;
}
.search_bar{
    height: 40PX;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.Search_icon{
    height: 20px;
    padding: 20px;
    box-sizing: content-box;
    border-radius: 3px;


}
.Search_input{
    color: #696e69;;
    background-color: #f5f5f6;
    flex-grow: 1;
    border: 0;
    

}
.action_bar{
    display: flex;
    min-width: 300px;
    align-items: center;
    justify-content: space-around;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.banner_container{
 margin: 40px 0;
}
.banner_image{
   width: 97%;
   height: 100%;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.sale_item{
    width: 250px;
    height: 270px;
    padding: 25PX;
    margin: 15PX;
}

.footer_container{
    padding: 30px 0px 40px 0px;
    background: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}

.footer_column{
    display: flex;
    flex-direction: column;
}

.footer_column h3{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;

}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright{
    color:#94969f;
    text-align: end;
    padding: 15px;
}